In [33]:
import requests
from datetime import datetime, timedelta
import pandas as pd

In [2]:
url = "https://api.stackexchange.com/2.2/questions"

In [114]:
#tags = ["JavaScript", "Python", "Java", "PHP", "C#", "C++", "TypeScript", "Shell", "C", "Ruby"]
data = pd.DataFrame ({
    "dates" : pd.date_range('2012-1-1 12:00:00', periods=7, freq='W')
})
results = []
for date in dates:
    fromdate = int(datetime.timestamp(date))
    todate = int(datetime.timestamp(date + timedelta(7)))
    params = {
    "tagged" : "python",
    "fromdate" : fromdate,
    "todate" : todate,
    "filter" : "total",
    "order" : "desc",
    "sort" : "activity",
    "site" : "stackoverflow"
    }
    answer = requests.get(url, params).json()
    print(fromdate, todate)
    results.append((date, "python", answer['total']))

1325415600 1326020400
1326020400 1326625200
1326625200 1327230000
1327230000 1327834800
1327834800 1328439600
1328439600 1329044400
1329044400 1329649200

In [75]:
fromdate = int(datetime.timestamp(dates[0]))
todate = int(datetime.timestamp(dates[0] + timedelta(7)))

In [118]:
df = pd.DataFrame(results, columns=['date', 'tag', 'comments'])

In [120]:
pd.pivotble(df, values="comments", index="date", columns="tag")

AttributeError: module 'pandas' has no attribute 'pivotTable'

In [102]:
data = pd.DataFrame ({
    "dates" : pd.date_range('2012-1-1 12:00:00', periods=53, freq='W')
})

In [103]:
data.merge()

                 dates
0  2012-01-01 12:00:00
1  2012-01-08 12:00:00
2  2012-01-15 12:00:00
3  2012-01-22 12:00:00
4  2012-01-29 12:00:00
5  2012-02-05 12:00:00
6  2012-02-12 12:00:00
7  2012-02-19 12:00:00
8  2012-02-26 12:00:00
9  2012-03-04 12:00:00
10 2012-03-11 12:00:00
11 2012-03-18 12:00:00
12 2012-03-25 12:00:00
13 2012-04-01 12:00:00
14 2012-04-08 12:00:00
15 2012-04-15 12:00:00
16 2012-04-22 12:00:00
17 2012-04-29 12:00:00
18 2012-05-06 12:00:00
19 2012-05-13 12:00:00
20 2012-05-20 12:00:00
21 2012-05-27 12:00:00
22 2012-06-03 12:00:00
23 2012-06-10 12:00:00
24 2012-06-17 12:00:00
25 2012-06-24 12:00:00
26 2012-07-01 12:00:00
27 2012-07-08 12:00:00
28 2012-07-15 12:00:00
29 2012-07-22 12:00:00
30 2012-07-29 12:00:00
31 2012-08-05 12:00:00
32 2012-08-12 12:00:00
33 2012-08-19 12:00:00
34 2012-08-26 12:00:00
35 2012-09-02 12:00:00
36 2012-09-09 12:00:00
37 2012-09-16 12:00:00
38 2012-09-23 12:00:00
39 2012-09-30 12:00:00
40 2012-10-07 12:00:00
41 2012-10-14 12:00:00
42 2012-10-21 12:00:00
43 2012-10-28 12:00:00
44 2012-11-04 12:00:00
45 2012-11-11 12:00:00
46 2012-11-18 12:00:00
47 2012-11-25 12:00:00
48 2012-12-02 12:00:00
49 2012-12-09 12:00:00
50 2012-12-16 12:00:00
51 2012-12-23 12:00:00
52 2012-12-30 12:00:00

In [53]:
date1

0    2012-01-01 12:00:00
1    2012-01-08 12:00:00
2    2012-01-15 12:00:00
3    2012-01-22 12:00:00
4    2012-01-29 12:00:00
5    2012-02-05 12:00:00
6    2012-02-12 12:00:00
7    2012-02-19 12:00:00
8    2012-02-26 12:00:00
9    2012-03-04 12:00:00
10   2012-03-11 12:00:00
11   2012-03-18 12:00:00
12   2012-03-25 12:00:00
13   2012-04-01 12:00:00
14   2012-04-08 12:00:00
15   2012-04-15 12:00:00
16   2012-04-22 12:00:00
17   2012-04-29 12:00:00
18   2012-05-06 12:00:00
19   2012-05-13 12:00:00
20   2012-05-20 12:00:00
21   2012-05-27 12:00:00
22   2012-06-03 12:00:00
23   2012-06-10 12:00:00
24   2012-06-17 12:00:00
25   2012-06-24 12:00:00
26   2012-07-01 12:00:00
27   2012-07-08 12:00:00
28   2012-07-15 12:00:00
29   2012-07-22 12:00:00
30   2012-07-29 12:00:00
31   2012-08-05 12:00:00
32   2012-08-12 12:00:00
33   2012-08-19 12:00:00
34   2012-08-26 12:00:00
35   2012-09-02 12:00:00
36   2012-09-09 12:00:00
37   2012-09-16 12:00:00
38   2012-09-23 12:00:00
39   2012-09-30 12:00:00
40   2012-10-07 12:00:00
41   2012-10-14 12:00:00
42   2012-10-21 12:00:00
43   2012-10-28 12:00:00
44   2012-11-04 12:00:00
45   2012-11-11 12:00:00
46   2012-11-18 12:00:00
47   2012-11-25 12:00:00
48   2012-12-02 12:00:00
49   2012-12-09 12:00:00
50   2012-12-16 12:00:00
51   2012-12-23 12:00:00
52   2012-12-30 12:00:00
dtype: datetime64[ns]